td, th {
    border: 1px solid #999;
    padding: 0.5rem;
}

#color-range{
    position: absolute;
    left: 0%;
    bottom: 50%;
    transition: bottom 0.1s linear,margin-bottom 0.1s linear;
    -webkit-transform: translateX(-0%);
    transform: translateX(-0%);
    border: 1px solid #d8d4dc;
    background-color: #fafeff;
    border-radius: 3px;
    z-index:100;
}

.color-stream{
    padding: 4px 6px;
}

.color-range-wrapper{
    padding: 4px 6px;
}